.addTodoNavLeft{
    cursor: pointer;
    background: #fff;
    position: relative;
    height: 60px;
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
  
  }
  .addTodoNavLeft button{
      text-decoration: none;
    position: absolute;
    color: rgb(71, 70, 70);
    left: 0;
    height: 35px;
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-left:10px;
    top: 30px;
  }
  .addTodoNavLeft button{
    text-align: left;
    padding:  0 0 5px;
    margin-left: 60px;
    cursor: pointer;
  }